<div class="container">
  <form id="FormIngreso"   >
  <h1>Registro</h1>
     <div class="form-group ">
       <input type="text" class="form-control" name="nomusuario" ng-model="persona.nomusuario" placeholder="Usuario" >
   
       <input type="password" class="form-control" name="clave" ng-model="persona.clave"placeholder="Clave">
      
       <input type="text" class="form-control" name="dni" ng-model="persona.dni" placeholder="Dni" >

       <input type="text" class="form-control" name="correo" ng-model="persona.correo"placeholder="Correo" >






     </div>
        
 <div><button type="button" class="log-btn" name="guardar" ng-click="Guardar()" >Registrase</button></div>
   


   </div>
   </form>